#contact_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    background-image: url('../../public/Group.png');
    background-position: bottom;
    > div {
        display: flex;
        flex-direction: column;
        
        align-items: flex-start;
        margin-bottom: 40px;
        h1 {
            font-size: 2.8rem;
            margin-bottom: 20px;
            color: white;
            text-shadow: 2px 2px 15px rgba(0,0,0,0.49);
        }
        p {
            width: 80%;
            text-align: start;
            line-height: 25px;
            font-size: 0.9rem;
            margin-bottom: 30px;
            color: rgb(203, 202, 202);
        }
    }
    #form_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
        width: 50%;
        > div {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            input {
                padding-left: 15px;
                height: 40px;
                width: 45%;
                outline: none;
                border: none;
                font-size: 0.9rem;
                color: black;
                border: 2px solid black;
                background-color: #ceb7ff95;
                transition: transform 0.1s ease;
                &::placeholder {
                    color: rgb(0, 0, 0);
                }
                &:focus {
                    transform: scale(1.005);
                    &::placeholder {
                        color: transparent;
                    }
                }       
            }
            #email_input_wrapper {
                position: relative;
                display: flex;
                justify-content: center;
                height: 50px;
                width: 50%;
                margin-bottom: 20px;
                input {
                    width: 100%;
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 98%;
                    transform: translate(-98%, -50%);
                    display: flex;
                    justify-content: space-evenly;
                    width: 80px;
                    color: red;
                }
            }
        }
        textarea {
            padding: 10px;
            padding-left: 15px;
            height: 140px;
            width: 100%;
            border: none;
            outline: none;
            resize: none;
            font-size: 0.9rem;
            border: 2px solid black;
            background-color: #ceb7ff95;
            transition: transform 0.1s ease;
            &::placeholder {
                color: black;
            }
            &:focus {
                transform: scale(1.005);
                color: rgb(160, 160, 160);
                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            cursor: pointer;
            align-self: flex-end;
            height: 48px;
            width: 140px;
            border: none;
            outline: none;
            font-size: 0.9rem;
            color: black;
            border: 2px solid black;
            background-color: #ceb7ff95;
            transition: padding 0.15s ease-out;
            &:hover {
                padding-right: 10px;
            }
        }
    }
    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (min-width: 1500px) {
    #contact_wrap {
        margin: 0 auto;
        max-width: 1600px !important;
    }
}
@media only screen and (max-width: 980px) {
    #contact_wrap {
        flex-direction: column;
        > div {
            width: 100%;
        }
        #form_wrap {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 680px) {
    #contact_wrap {
        padding: 30px;
        > div {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }
}