// LoadingScreen.module.scss
.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #120E1E;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.5s ease;

    display: flex;
    flex-direction: column;
    color: var(--pink);

    h1 {
      margin-top: 40px;
      font-weight: 100;
      font-size: 1rem;
    }
}

.loadingScreen.active {
    opacity: 1;
    visibility: visible;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #000;
  border: 2px solid;
  display: grid;
  box-sizing: border-box;
  animation: l1 4s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  width: 70.7%;
  aspect-ratio: 1;
  border: 2px solid;
  box-sizing: content-box;
  animation: inherit;
}
.loader {
  border: 2px solid white;
}
.loader::before {
  border: 2px solid white;
}
.loader::after {
  width: 50%;
  aspect-ratio: 1;
  border: 2px solid white;
  color: white;
  animation-duration: 2s;
}
@keyframes l1{
  100% {transform:rotate(1turn)}
}
