.arrow {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
}
.left_arrow {
    left: 36%;
    bottom: -53px;
}
.right_arrow { 
    right: 36%;
    bottom: -53px;

    color: rgb(17, 17, 17);
}

#projects_page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 200px;
    background: linear-gradient(to bottom, #120e1e, #271950);
    scroll-behavior: smooth;
    nav {
        position: absolute;
        top: 100px;
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 80%;
        margin-bottom: 70px;
        visibility: 0;
        opacity: 0;
        transition: visibility 1s ease, opacity 1s ease;
        a {
            display: flex;
            align-items: center;
            position: absolute;
            height: 100%;
            width: fit-content;
            font-size: 1.2rem;
            text-decoration: none;
            color: var(--white-text);
            &.first_nav {
                left: 0px;
            }
            &.second_nav {
                right: 32px;
            }
            svg {
                position: absolute;
                font-size: 2rem;
                color: var(--text-color);
                transition: all 0.3s ease-in;
                &:hover {
                    transform: translateY(-5px);
                    filter: drop-shadow(0px 0px 2px var(--text-color));                    
                }
            }
        }
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    #heading {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 130px;
        color: white;
        width: 80%;
        height: 400px;
        .left_card {
            position: relative;
            z-index: 6;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40%;
            h2, p {
                width: 100%;
            }
            .featured {
                font-size: 0.8rem;
                margin-bottom: 5px;
                color: #D0E3AF;
            } 
            h2 {
                font-size: 3.7rem;
                margin-bottom: 1rem;
                color: inherit;
                text-shadow: 4px 3px 0px #00000061;
            }
            p {
                z-index: 6;
                min-width: 125%;
                font-size: 0.9rem;
                padding: 25px;
                line-height: 30px;
                text-align: start;
                color: #ffffff;



                -webkit-box-shadow: 10px 10px 24px 0px rgb(29, 29, 29);
                -moz-box-shadow: 10px 10px 24px 0px rgb(29, 29, 29);
                box-shadow: 10px 10px 24px 0px rgb(29, 29, 29);
            }
        }

        .right_card {
            position: relative;
            z-index: 5;
            height: 100%;
            width: 60%;

           

            background-color: transparent;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
                -webkit-box-shadow: 10px 10px 24px 0px rgb(29, 29, 29);
                -moz-box-shadow: 10px 10px 24px 0px rgb(29, 29, 29);
                box-shadow: 10px 10px 24px 0px rgb(29, 29, 29);
            }
        }

    }
    .images {
        position: relative;
        margin-top: 150px;
        width: 70%;
    }
    .project_link_buttons {
        position: relative;
        height: 40px;
        width: 400px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;   
        @media only screen and (max-width: 410px) {
            height: 200px;
            width: 100%;
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
    .challenge {
        position: relative;
        margin-top: 700px;
        position: relative;
        display: flex;
        justify-content: center;
        gap: 20px;
        height: auto;
        width: 100%;
        margin-bottom: 150px;
        color: rgb(33, 240, 230);
        .left_challenge {
            padding: 20px;
            height: auto;
            width: 40%;
            svg {
                position: absolute;
                z-index: 1;
                left: 0px;
                stroke-width: 0.5px;
                text {
                    font-size: 2.5rem;
                    font-weight: 800;
                    fill: white;
                    display: inline-block;
                    transform: scaleY(2.1);
                }
            }
            h2 {
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
            p {
                position: relative;
                z-index: 2;
                color: white;
                padding: 25px;
                line-height: 40px;
                font-size: 0.9rem;
                background-color: rgb(27, 27, 27);
            }
        }
        img {
            height: auto;
            width: 40%;
            object-fit: cover;
            object-position: top;
        }
    }
    .old_anime_pic {
        margin-top: 300px;
    }
    .more_info {
        position: relative;
        display: flex;
        align-items: center;
        height: auto;
        width: 80%;
        margin-top: 10rem;
        color: white;
        h2 {
            width: 25%;
            font-size: 2.2rem;
            margin-bottom: 20px;
        }
        .more_info_para_wrap {
            width: 75%;
            p {
                padding: 25px 0px;
                line-height: 30px;
                color: rgb(214, 214, 214);
            }
        }
    }
}
@media only screen and (min-width: 1500px) {
    #projects_page {
        nav {
            max-width: 1450px;
        }
        #heading {
            max-width: 1500px;
        }
        .images {
            max-width: 1500px;
        }
        .challenge {
            max-width: 1500px;
        }
        .more_info {
            max-width: 1500px;
        }
        #projects_info {
            max-width: 1500px;
        }
    }
}
@media only screen and (max-width: 999px) {
    #projects_page {
        #heading {
            height: auto;
            flex-direction: column;
            .left_card{
                margin-bottom: 40px;
                width: 100%;
                p {
                    min-width: 100%;
                    max-width: 100%;
                }
            }
            .right_card {
                width: 100%;
            }
        }
        .challenge {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .left_challenge {
                width: 90%;
            }
            > img {
                width: 60%;
                z-index: 5;
            }
        }
        .more_info {
            text-align: center;
            flex-direction: column;
            h2 {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    #projects_page {
        #heading {   
            p {
                width: 80%;
            }
        }
        #projects_info {
            flex-direction: column;
            align-items: center;
            min-height: 590px;
            .projects_left_side {
                width: 100%;
                .actual_slider {
                    .video_slide {
                        height: 100%;
                        width: 100%;
                        .actual_video {
                            width: 100%;
                        }
                    }
                }
            }        
            #projects_right_side {
                height: 190px;
                width: 80%;
                padding: 0;
                margin-top: 80px;                
                > p {
                    font-size: 1.3rem;
                    text-align: center;
                }    
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    #projects_page {
        #heading {
            p {
                width: 80%;
            }
        }

        .images {
            width: 95%;
        }

        #projects_info {
            .projects_left_side{
                #slide_show_num {  
                    left: 50%;
                    top: 115%;
                    transform: translate(-50%, -111%); 
                }
            }       
        }
    }
}
@media only screen and (max-width: 500px) {
    #projects_page {
        #heading {
            p {
                width: 100%;
            }
        }
        #projects_info {
            .projects_left_side{
                #slide_show_num {
                    font-size: 0.8rem;
                    left: 50%;
                    top: 125%;
                    transform: translate(-50%, -125%);    
                }
            }
            #projects_right_side {
                padding-left: 0px;
                width: 100%;
                margin-top: 40px;
                text-align: center;
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    .arrow {
        font-size: 1.6rem;
        color: white;
    }
    .left_arrow {
        left: 25%;
        bottom: -53px;
    }
    .right_arrow { 
        right: 25%;
        bottom: -53px;
    }
}
@media only screen and (max-width: 340px) {
    #projects_page {
        #projects_info {
            .projects_left_side{
                #slide_show_num {
                    left: 50%;
                    top: 135%;
                    transform: translate(-50%, -135%);    
                }
            }
        }
    }
}