.arrow {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
}
.left_arrow {
    left: 36%;
    bottom: -53px;
}
.right_arrow { 
    right: 36%;
    bottom: -53px;
}
#projects_page {
    padding-top: 6.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 200px;
    background: linear-gradient(to bottom, #120e1e, #271950);
    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 80%;
        margin-bottom: 70px;
        a {
            display: flex;
            align-items: center;
            position: absolute;
            height: 100%;
            width: fit-content;
            font-size: 1.2rem;
            text-decoration: none;
            color: var(--white-text);
            &.first_nav {
                left: 0px;
            }
            &.second_nav {
                right: 32px;
            }
            svg {
                position: absolute;
                font-size: 2rem;
                //color: var(--text-color);
                color: var(--text-color);
                transition: all 0.3s ease-in;
                &:hover {
                    // color: #7400b8;
                    transform: translateY(-5px);

                    // color: var(--text-color);
                    // text-shadow: 0 0 10px var(--text-color);


                 
                    filter: drop-shadow(0px 0px 2px var(--text-color));
                        /* Similar syntax to box-shadow */
                    

                }
            }
        }
    }
    #heading {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        width: 80%;
        margin-bottom: 130px;
        color: white;
        h2 {
            text-align: center;
            font-size: 4rem;
            margin-bottom: 40px;
            color: inherit;
            text-shadow: 2px 2px 15px rgba(0,0,0,0.49);
        }
        p {
            font-size: 1rem;
            line-height: 30px;
            text-align: center;
            width: 60%;
            color: white;
            //text-shadow: 0 0 10px rgb(118, 17, 180);
        }
    }
    .project_link_buttons {
        position: relative;
        height: 40px;
        width: 400px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;   
        @media only screen and (max-width: 410px) {
            height: 200px;
            width: 100%;
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
    #projects_info {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin-top: 80px;
        width: 90%;
        .projects_left_side{
            position: relative;
            width: 60%;
            opacity: 0;
            transition: all 0.6s ease-in;
            background-color: transparent;
            &.inView {
                opacity: 1;
            }  
            .actual_slider {
                position: relative;
                width: 100%;
                opacity: 1;
                transition: all 0.6s ease-in;
                                 
                .video_slide {
                    min-width: 100% !important;
                    max-width: 100%!important;
                    aspect-ratio: 2.25 / 1 !important;

                    .actual_video {
                        aspect-ratio: 2.25 / 1 !important;
                        object-fit: cover;
                        max-width: 100% !important;

                        // box-shadow: 18px 11px 35px -10px rgba(0,0,0,1);
                        // -webkit-box-shadow: 18px 11px 35px -10px rgba(0,0,0,1);
                        // -moz-box-shadow: 18px 11px 35px -10px rgba(0,0,0,1); 
                    }
                }
            }
            #slide_show_num {
                position: absolute;
                z-index: 50;
                left: 50%;
                top: 111%;
                transform: translate(-50%, -111%);
                font-size: 0.92rem;
                color: white;
            }
        }
        #projects_right_side {
            padding-left: 30px;
            width: 35%;
            text-align: right;
            > p {
                opacity: 0;
                line-height: 40px;
                font-size: 1.05rem;
                color: white;
                text-shadow: 0 0 10px rgb(100, 5, 90);
                transition: all 0.3s ease;
                &.active {
                    opacity: 1;
                }
            }
        }       
    }
}
@media only screen and (min-width: 1500px) {
    #projects_page {
        nav {
            max-width: 1450px;
        }
        #projects_info {
            max-width: 1500px;
        }
    }
}
@media only screen and (max-width: 900px) {
    #projects_page {
        #heading {   
            p {
                width: 80%;
            }
        }
        #projects_info {
            flex-direction: column;
            align-items: center;
            min-height: 590px;
            .projects_left_side {
                width: 100%;
                .actual_slider {
                    .video_slide {
                        height: 100%;
                        width: 100%;
                        .actual_video {
                            width: 100%;
                        }
                    }
                }
            }        
            #projects_right_side {
                height: 190px;
                width: 80%;
                padding: 0;
                margin-top: 80px;                
                > p {
                    font-size: 1.3rem;
                    text-align: center;
                }    
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    #projects_page {
        #heading {
            p {
                width: 80%;
            }
        }
        #projects_info {
            .projects_left_side{
                #slide_show_num {  
                    left: 50%;
                    top: 115%;
                    transform: translate(-50%, -111%); 
                }
            }       
        }
    }
}
@media only screen and (max-width: 500px) {
    #projects_page {
        #heading {
            p {
                width: 100%;
            }
        }
        #projects_info {
            .projects_left_side{
                #slide_show_num {
                    font-size: 0.8rem;
                    left: 50%;
                    top: 125%;
                    transform: translate(-50%, -125%);    
                }
            }
            #projects_right_side {
                padding-left: 0px;
                width: 100%;
                margin-top: 40px;
                text-align: center;
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    .arrow {
        font-size: 1.6rem;
        color: white;
    }
    .left_arrow {
        left: 25%;
        bottom: -53px;
    }
    .right_arrow { 
        right: 25%;
        bottom: -53px;
    }
}
@media only screen and (max-width: 340px) {
    #projects_page {
        #projects_info {
            .projects_left_side{
                #slide_show_num {
                    left: 50%;
                    top: 135%;
                    transform: translate(-50%, -135%);    
                }
            }
        }
    }
}