#resume_page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, #120e1e, #271950);
    .top_section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
        padding-bottom: 20px;
        color: white;
        border-bottom: 1px solid gray;
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1rem;
        }
        .info {
            position: relative;
            margin-top: 20px;
            font-size: 0.8rem;
            color: var(--pink);
            .location_email {
                position: relative;
                span {
                    margin-right: 5px;
                }
            }
            .link_buttons {
                position: relative;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                a {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 5px;
                    text-decoration: none;
                    font-size: 0.8rem;
                    border-radius: 50px;
                }
                a:first-of-type {
                    width: 75px;
                    border: 1px solid #0A66C2;
                    color: #0A66C2;
                    background-color: #F1F8FF;
                }
                a:last-of-type {
                    width: 85px;
                    border: 1px solid black;
                    color: black;
                    background-color: #F2F2F2;
                }
            }
        }
    }
    .bottom_section {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .education_wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 80px;
            width: 60%;
            color: white;
            border-bottom: 1px solid gray;
            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 30%;
            }
            div {
                position: relative;
                display: flex;
                width: 70%;
            }
        }
        .experience_wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: auto;
            width: 60%;
            padding-bottom: 20px;
            color: white;
            border-bottom: 1px solid gray;
            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 30%;
            }
            .experience_bottom {
                position: relative;
                width: 70%;
                .job {
                    align-items: center;
                    &:first-of-type {
                        margin-bottom: 20px;
                    }
                    .job_title_wrap {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .job_languages {
                        position: relative;
                        display: flex;
                        margin-top: 5px;
                        span {
                            position: relative;
                            border-radius: 50px;
                            padding: 5px;
                            font-size: 0.6rem;
                            margin-right: 5px;
                            color: white;
                            background-color: var(--pink);
                        }
                    }
                    ul {
                        position: relative;
                        margin-top: 10px;
                        font-size: 0.8rem;
                        padding-left: 15px;
                        li {
                            margin-bottom: 3px;
                            color: rgb(189, 189, 189);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    #resume_page {
        .bottom_section {
            
            .education_wrap {
                width: 85%;
            }

            .experience_wrap {
                width: 85%;
            }
        }
    }
}
@media only screen and (max-width: 630px) {
    #resume_page {
        .bottom_section { 
            .education_wrap {
                flex-direction: column;
                width: 95%;
                padding-bottom: 10px;
                h3 {
                    width: 95%;
                }
                > div {
                    width: 95%;
                }
            }
            .experience_wrap {
                flex-direction: column;
                width: 95%;
                h3 {
                    width: 95%;
                    margin-bottom: 20px;
                }
                .experience_bottom {
                    width: 95%;
                }
            }
        }
    }
}
@media only screen and (min-width: 1500px) {
    #resume_page {
        .top_section {
            max-width: 1500px;
        }
        .bottom_section {
            max-width: 1500px;
        }
    }
}

